<div class='container'>

    <div class='row statsTitle'>
       Statistiques
    </div>

    <div class='row'>
        <div class='col matchJoueContainer'>
            <div class='row matchJoueValue'>
                  3/109
            </div>
            <div class=' row matchJoueLabel'>
                  Nombre de matches joués
            </div>
        </div>
     </div>
     <div class='dividerDiv'> </div>


     <div class='row subTitleDiv'>
        Top goals
     </div>

     <div class="row teamcols">
         <div class="col">
              <div class='numberDiv'>
                   <div class='numberText'>
                          1
                   </div>
              </div>
              <div>
                <div>
                    <img [src]="getFlagUrl('japan')" class="flag">
                </div>
                <div class='countryText'>
                   Japan
                </div>
                
                <div class='goalsText'>
                   13 Goals
                </div>
            </div>
            <div>
                  
            </div>
         </div>
         <div class="col">
            <div class='numberDiv'>
                 <div class='numberText'>
                       2
                 </div>
            </div>
            <div>
              <div>
                  <img [src]="getFlagUrl('palestine')" class="flag">
              </div>
              <div class='countryText'>
                 Palestine
              </div>
              
              <div class='goalsText'>
                 8 Goals
              </div>
          </div>
          <div>
                
          </div>
       </div>
       <div class="col">
        <div class='numberDiv'>
             <div class='numberText'>
                    3
             </div>
        </div>
        <div>
          <div>
              <img [src]="getFlagUrl('usa')" class="flag">
          </div>
          <div class='countryText'>
             USA
          </div>
          
          <div class='goalsText'>
             4 Goals
          </div>
      </div>
      <div>
            
      </div>
   </div>
     </div>
  

</div>
