<nb-card>
  <nb-card-header>Details d'achat</nb-card-header>
  <nb-card-body>
    <div class='container'>
    <div class='row'>
      <div class='col' class='labels'>
             Match
      </div>
      <div class='col'>
        <div class='values'>{{match.name}}</div>
      </div>
    </div>
    <hr>
    <div class='row'>
      <div class='col' class='labels'>
             Prix
      </div>
      <div class='col'>
          <div class='values'>  {{prix}}$ </div>
      </div>
    </div>
    <hr>
    <div class='row'>
      <div class='col' class='labels'>
             Categorie
      </div>
      <div class='col' >
           <div class='values'>{{type}}</div>
      </div>
    </div>
  </div> 
  </nb-card-body>
  <nb-card-footer>
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
  </nb-card-footer>
</nb-card>
