@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  input {
    width: 100%;
  }

  .cancel {
    margin-right: 1rem;
  }
}

.labels{
  font-weight: 700;
  text-decoration: underline;
  
}

.values{
   float: right;
}
