<nb-card>
  <nb-card-header>Details d'achat</nb-card-header>
  <nb-card-body>
    <div class='row'>
      <div class='col'>
             Match
      </div>
      <div class='col'>
           {{match.name}}
      </div>
    </div>
    <div class='row'>
      <div class='col'>
             Prix
      </div>
      <div class='col'>
           {{prix}}$
      </div>
    </div>
    
  </nb-card-body>
  <nb-card-footer>
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
  </nb-card-footer>
</nb-card>
