<div class="row" *ngFor="let row of builRow()">
    <div class="col-6 col-md-4" *ngFor="let equipe of row">
              <nb-card>
                <nb-card-header style="text-align: center;">{{equipe.name}}</nb-card-header>
                <nb-card-body>
                    <div *ngIf="getFlagUrl(equipe) != null; else elseB">
                        <img [src]="getFlagUrl(equipe)" class="flag">
                    </div>
                    <ng-template #elseB><div class="centerName">{{equipe.name}}</div></ng-template>
                </nb-card-body>
                <nb-card-footer style="text-align: center;">
                  <button nbButton (click)="showJouers(event,equipe)">Joueurs</button>
                </nb-card-footer>
              </nb-card>
    </div>
</div>
