<nb-card class="list-card"> 
    <nb-card-header>Matches Direct</nb-card-header>
  <nb-card-body class='nopadnomarg'>
<div class="row" *ngFor="let matche of matches" >
  <div class="matchHeaderContainer"><div class='matchHeader'><div class='headerText'>{{matche.dateMatch | date:'short'}}</div></div></div>

<div class="row">
  <div class="col" style="text-align: center; margin-top: 25px;">
  {{matche.equipes[0].name}}
  </div>
  <div class="col">
  <nb-card-body>
    <div *ngIf="getFlagUrl(matche.equipes[0]) != null; else elseB">
        <img [src]="getFlagUrl(matche.equipes[0])" class="flag">
    </div>
    <ng-template #elseB><div class="centerName">{{equipe.name}}</div></ng-template>
</nb-card-body>
</div>
<div class="col" style="text-align: center; margin-top: 25px;">
      <div class ="cercle"><div class="circleText"> {{matche.scoreEquipe1}} </div></div>
    </div>
    <div class="col" style="text-align: center; margin-top: 40px;">
    <h6>-</h6>
    </div>
    <div class="col" style="text-align: center; margin-top: 25px;">
    <div  class ="cercle"  ><div class="circleText">  {{matche.scoreEquipe2}}</div></div>
</div>
<div class="col" style="text-align: center;">
    <nb-card-body>
        <div *ngIf="getFlagUrl(matche.equipes[1]) != null; else elseB">
            <img [src]="getFlagUrl(matche.equipes[1])" class="flag">
        </div>
        <ng-template #elseB><div class="centerName">{{equipe.name}}</div></ng-template>
    </nb-card-body>
</div>
<div class="col" style="text-align: center; margin-top: 25px;">
   {{matche.equipes[1].name}}
</div>

</div>
  </div>

  
</nb-card-body> 
</nb-card>
