.flag{
   
    width: 40%;
    height: auto;  
}


.cercle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    
    
    background-color: #3C4660;
}

.circleText{
    font-size: 20px;
    padding-top: 20%;
}

.matchHeader{
     
     font-weight: 600;
     margin-left: 4%;
     font-size: 24px;
     height: 100%;
     font-weight: bold;
}

nb-card-body{
    overflow-x:hidden !important;
    overflow-y: hidden !important;
}

.matchHeaderContainer{
    width: 100%;
    background-color: #3C4660;
    height: 45px;
}

.headerText{
    margin-top: 1.1%;
}

.nopadnomarg{
 
    padding: 0 !important;
}