<nb-card class="list-card"> 
    <nb-card-header>Matches Direct</nb-card-header>
    <nb-card-body >
<div class="row" *ngFor="let matche of matches">

    <div class="col">{{matche.equipes[0].name}}</div>
    
    <div class="col">    
        <nb-select selected="{{matche.scoreEquipe1}}" (editConfirm)="editScore($event)">
            <nb-option value="1">1</nb-option>
            <nb-option value="2">2</nb-option>
            <nb-option value="3">3</nb-option>
            <nb-option value="4">4</nb-option>
            <nb-option value="5">5</nb-option>
        </nb-select>
    </div>

    <div class="col">    
        <nb-select selected="{{matche.scoreEquipe2}}" (editConfirm)="editScore($event)">
        <nb-option value="1">1</nb-option>
        <nb-option value="2">2</nb-option>
        <nb-option value="3">3</nb-option>
        <nb-option value="4">4</nb-option>
        <nb-option value="5">5</nb-option>
       </nb-select>
    </div>

    <div class="col">{{matche.equipes[1].name}}</div>

  </div>
</nb-card-body>
</nb-card>
